
/* global */
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: avenir, arial;
}


/* layout bits */
.container {
    padding-top: 5%;
}


/* faux input area */
[contenteditable="true"] {
    border: 1px solid #f1f1f1;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    border-radius: 2px;
    padding: 12px;
    min-height: 100px;
    color: #65657b;
    line-height: 20px;
}

[contenteditable="true"]:focus {
    border: 1px solid #e8e3e3;
    box-shadow: 0 1px 3px #e6e6e6;
    outline: 0 none;
}

[autocomplete-dialog] {
    width: 200px;
    border: 1px solid #e6e0ef;
    position: absolute;
    z-index: 9999;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px #efefef;
}
[autocomplete-dialog] ul,
[autocomplete-dialog] li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

[autocomplete-dialog] li {
    border-bottom: 1px solid #f9f9f9;
    clear:both;
    cursor: pointer;
}
[autocomplete-dialog] li:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

[autocomplete-dialog] li.js-selected {
    background: #f9f9f9;
}

[autocomplete-dialog]:hover li.js-selected {
    background: transparent;
}

[autocomplete-dialog]:hover li:hover {
    background: #f9f9f9;
}

[autocomplete-dialog] li img {
    width: 30px;
    border-radius: 15px;
    overflow: hidden;
    float: left;
    margin: 10px;
}

[autocomplete-dialog] li .names {
    padding: 10px 10px 5px 40px;
}

[autocomplete-dialog] li .subname {
    font-size: 12px;
    color: #a5a0a0;
}


[autocomplete-users] .injected-autocomplete-user {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 2px;
    margin: 0;
    background: #f3f3f3;
    color: inherit;
}


[autocomplete-users] .injected-autocomplete-user:after {
    color: blue;
}
